body {
  background: #bdebfe url(/img/background.png) center top;
  background-size: 100% auto;
}

.container {
  max-width: 720px;
}

.row,
.d-flex {
  svg {
    /* remove inline descender space to fix alignment */
    display: block;
  }
}

.app-header,
.app-footer {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}